#headerNavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #2441e2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

#headerTitle {
    font-size: 30px;

}

#logo {
    display: flex;
    width: 50px;
    height: 50px;
}

.topnav {
    background-color: rgb(65, 255, 255);
    overflow: hidden;
} 

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.topnav a.active {
    background-color: aliceblue;
    color: black;
}


.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
    float: right;
    display: block;
    }
}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
}

#headerTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #91C8E4;
}

#subtitle {
    color: darkslategray;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inti {
    display: flex;
    margin-top: 50px;
    font-size: medium ;
    color: darkslategray;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.left {
    display: flex;
    flex-direction: column-reverse;
}

.testi {
    margin-left: 125px;
}

#me {
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 70px;
}

#text {
    margin-left: 25px;
}

.items {
    text-align: left;
    max-width: 500px;
    max-height: 600px;
    padding-left: 40px;

}
.slider {
    width: 500px;
    height: 300px;
    margin-left: 150px;
    text-align: center;
    align-content: flex-start;
    overflow: hidden;
}

.image-container {
    width: 1500px;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slide-1:target ~ .image-container {
    left: 0px;
}

#slide-2:target ~ .image-container {
    left: -500px;
}

#slide-3:target ~ .image-container {
    left: -1000px;
}

.buttons {
    position: relative;
    top: -20px;
}

.buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: #F6F4EB;
}

#form {
    max-width: 350px;
    max-height: 600px;
    border: 2px solid #91C8E4;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-items: center;
    margin-left: 160px;
    border-radius: 50px;
    padding-top: 20px;

}

#name {
    background-color: white;
    width: 60%;
    height: 40%;
    border-color: #91C8E4;
    border-radius: 5px;
}

#email {
    background-color: white;
    width: 60%;
    border-color: #91C8E4;
    border-radius: 5px;
}
.select {
    background-color: white;
    width: 60%;
    border-color: #91C8E4;
    border-radius: 5px;
}
#submit {
    background-color:white;
    border-radius: 5px;
    border-color: #91C8E4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    width: 60%;

}

#title {
    margin: 10px;
}

h2 {
    align-content: center;
    display: flex;
    text-size-adjust: 200px;
    font-size: 40px;
    color: #91C8E4;
    background-color: aliceblue;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    max-height: max-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 50px;
}

.footer{
    align-content: space-between;
}

#table1 {
    display:flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    max-width: 900px;
    margin-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px solid #91C8E4;
}

#table2 {
    display:flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    max-width: 900px;
    margin-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid#91C8E4;
    margin-bottom: 40px;
}

.end{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkslategrey;
}